@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">This is Test Excercise give for Technial test to Deepak Inani.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<p>The World Health Organisation defines the following BMI categories;</p>
<div class="row">
    <table class="table table-responsive table-bordered">
        <tr>
            <th>BMI Range</th>
            <th>Category</th>
        </tr>
        <tr>
            <td>Below 18.5</td>
            <td>Underweight</td>
        </tr>
        <tr>
            <td>18.5–24.9</td>
            <td>Normal weight</td>
        </tr>
        <tr>
            <td>25.0–29.9</td>
            <td>Pre-obesity</td>
        </tr>
        <tr>
            <td>30.0–34.9</td>
            <td>Obesity class I</td>
        </tr>
    </table>
</div>